@tailwind base;
@tailwind components;
@tailwind utilities;

td {
    text-align: center;
    vertical-align: top;
    padding: .5rem .2rem;
}
th {
    padding: .5rem;
}
tr {
    border-bottom: 1px solid black;
}